<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
		   <li><a href="{{ site.baseurl }}/">Home</a></li>
		    <li><a href="{{ site.baseurl }}/chapitres">Contents</a></li>
			 <li><a href="{{ site.baseurl }}/chapitres">Authors</a></li>
		   <li><a href="{{ site.baseurl }}/chapitres">Exercices</a></li>
    
           
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
  <script> fixLink("{{site.baseurl}}");</script>
</footer>
