<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
		  {% if page.lang == "en" %}
		   <li><a href="{{ site.baseurl }}/{{page.lang}}/">Home</a></li>
		    <li><a href="{{ site.baseurl }}/{{page.lang}}/contents">Contents</a></li>
			 <li><a href="{{ site.baseurl }}/{{page.lang}}/authors">Authors</a></li>
		   <li><a href="{{ site.baseurl }}/{{page.lang}}/corrections">Corrections</a></li>
			{% endif %}
           {% if page.lang == "fr" %}
		      <li><a href="{{ site.baseurl }}/{{page.lang}}/">Accueil</a></li>
		    <li><a href="{{ site.baseurl }}/{{page.lang}}/contents">Contenus</a></li>
			 <li><a href="{{ site.baseurl }}/{{page.lang}}/authors">Auteurs</a></li>
		   <li><a href="{{ site.baseurl }}/{{page.lang}}/corrections">Corrections</a></li>
		   {% endif %}
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
  <script> fixLink("{{site.baseurl}}");
  
    var coll = document.getElementsByClassName("expand");
var i;

for (i = 0; i < coll.length; i++) { 

  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
	
	var content = this.nextElementSibling ;
	var button =  this.lastChild;
   if (content.style.maxHeight){
      content.style.maxHeight = null;
	  button.innerHTML = "+";
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
	  	 button.innerHTML = "−";
    } 
   
  });
}
  </script>
</footer>
