<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
			{% assign sub = page.path | split: "/" %}
			{% if page.lang == "en" %}
				{% if page.url == "/" %}
				<div class="navbar-brand"><a href="{{site.baseurl}}/fr">FR</a> / <a href="{{site.baseurl}}/en">EN</a></div>	
				{% else %}
					{% if sub.first == "_correctionsen" %}
					<div class="navbar-brand"><a href="{{site.baseurl}}{{page.url | replace:"correctionsen/Chapiter","correctionsfr/Chapitre"}}">FR</a> / <span>EN</span></div>	
					{% else %}
					<div class="navbar-brand"><a href="{{site.baseurl}}{{page.url | replace:"/en","/fr"}}">FR</a> / <span>EN</span></div>	
				
					{% endif %}
				{% endif %}
			{% endif %}
			{% if page.lang == "fr" %}
				{% if sub.first == "_correctionsfr" %}
					<div class="navbar-brand"><span>FR</span>/ <a href="{{site.baseurl}}{{page.url | replace:"correctionsfr/Chapitre","correctionsen/Chapiter"}}">EN</a></div>	
				{% else %}
				<div class="navbar-brand"><span>FR</span> / <a href="{{site.baseurl}}{{page.url | replace:"/fr","/en"}}">EN</a></div>
				{% endif %}
			{% endif %}
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
				{% if page.lang == "en" %}
				<li><a href="{{ site.baseurl }}/{{page.lang}}">Home</a></li>
				<li><a href="{{ site.baseurl }}/{{page.lang}}/contents">Contents</a></li>
				<li><a href="{{ site.baseurl }}/{{page.lang}}/authors">Authors</a></li>
                <li><a href="{{ site.baseurl }}/{{page.lang}}/corrections">Corrections</a></li>
				<li><a href="{{ site.baseurl }}/{{page.lang}}/erratum">Erratum</a></li>
				{% endif %}
				{% if page.lang == "fr" %}
				<li><a href="{{ site.baseurl }}/{{page.lang}}/">Accueil</a></li>
				<li><a href="{{ site.baseurl }}/{{page.lang}}/contents">Contenus</a></li>
				<li><a href="{{ site.baseurl }}/{{page.lang}}/authors">Auteurs</a></li>
                <li><a href="{{ site.baseurl }}/{{page.lang}}/corrections">Corrections</a></li>
				  <li><a href="{{ site.baseurl }}/{{page.lang}}/erratum">Erratum</a></li>
				{% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
