---
layout: page
---

<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">{{page.title}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/{{ page.lang }}/corrections">Retour aux corrections</a>
</p>
